{% extends 'base.html' %}
{% block content %}
{{ block.super}}
{% load bootstrap4%}

<br>
<br>
<br>
<div class="container">
<div class="modal fade" id="logoutmodal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modalhold modal-content">
                <div class="modalcontain">
                    <a class="modaloption button" href="/accounts/logout">
                       Log out
                    </a>
                    <a class="modaloption button" data-dismiss="modal">
                        Cancel
                    </a>
                </div>
          </div>
        </div>
</div>

  <img id="img" src="https://instagram.fnbo6-1.fna.fbcdn.net/vp/a4f4c31f85dae0dd994e15595d31dc3d/5D039885/t51.2885-19/s150x150/44757610_213963506024200_5106448499826753536_n.jpg?_nc_ht=instagram.fnbo6-1.fna.fbcdn.net" alt="">
  <h1 id="profile_h">{{user.username}}</h1>
  <button id="button_h" type="button" class="btn btn-outline-secondary"><a href="/update">Edit Profile</a></button>
  <i id="fa_h" style="font-size:24px" class="fa fa-cog" aria-hidden="true"></i>
  <div id="block">
    <p id="p_h"><strong>2</strong> posts</p>
    <p id="p_hh"><strong>1</strong> Followers<strong>1</strong> Following</p>

    {% for prof in all_profile%}
    <h4 id="p_hhh">{{prof.last_name}}</h4>
      {% endfor %}
<br>


  </div>

</div>

<br>
<br>
<br>
<br>
<br>

<form method='POST' enctype="multipart/form-data">
  {% csrf_token %}
  {%for fields in form%}
  {{ fields }}
  {%endfor%}
  <button type="submit" name="button">upload</button>
</form>

</div>
<div class="">
  {%for de in images%}
  <img src="{{de.image_path.url}}" alt="">
  {%endfor%}

</div>


{%endblock%}